.sidebar {
    position: absolute;
    width: 315px;
    background: #A4A6B9;
    height: 802px;
}

.sidebar .row-1 {
    position: absolute;
    top: 47px;
    left: 41px;
}

.sidebar .row-1 img {
    width: 50px;
    height: 50px;
}

.sidebar .row-1 #text-1 {
    position: absolute;
    left: 9px;
    width: 244px;
    height: 25px;
    display: inline-block;
}

.sidebar .row-1 #text-2 {
    position: absolute;
    left: 0;
    top: 15px;
    width: 244px;
    height: 25px;
    display: inline-block;
}