* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #25316D;
  --red: #f44336;
  --white: #fff;
  --bg-white: #f3f3f3;
  --gray: #ccc;
  --black: #353535;
  --blue: #3f51b5;
}

h1 {
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3, p {
  color: var(--black);
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}

img {
  width: 100%;
  vertical-align: middle;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  border: 1.5px solid var(--white);
  border-radius: 2px;
  padding: 12px 30px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.primary-btn:hover {
  border: 1.5px solid var(--red);
  background-color: var(--red);
  transition: .5s;
}

.red-btn {
  border: 1.5px solid var(--red);
  color: var(--red);
}

.red-btn:hover {
  color: var(--white);
}

.btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 2px;
}

.blue-btn {
  background: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
}

.blue-btn:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}

.gap-section {
  width: 90%;
  margin: auto;
  padding: 4rem 0;
}

.section-title {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: var(--black);
}


/*******************/
/*     Beranda     */
/*******************/
/* Header and Sub-Header*/
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.sub-header h1 {
  margin-top: 100px;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
}


/********************/
/*      Navbar      */
/********************/
nav {
  display: flex;
  padding: 1.2% 5%;
  justify-content: space-between;
  align-items: center;
  background: rgba(43, 57, 128, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);  
}

nav img {
  width: 230px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul {
  margin-bottom: 0;
}

.nav-links ul li a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--red);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

/***** Hero Section *****/
.text-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: var(--white);
}

.text-box h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-box p {
  margin: 18px auto;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

/***** Section Videos *****/
section.videos {
  background-color: var(--white) !important;
}

section.videos iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 2px;
  filter: brightness(.9);
  transition: .3s;
}

section.videos iframe:hover {
  filter: brightness(1);
}

.row-item {
  display: flex;
  justify-content: space-between;
}

/***** Section Link Web ******/
section.link-web {
  background-color: var(--white) !important;
}

.link-web .gap-section {
  width: 80%;
}

.link-web-col {
  flex-basis: 32%;
  padding: 20px 10px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  transition: .5s;
  background-color: #fff3f3;
  color: var(--black);
}

.link-web-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, .3);
}

.link-web-col h3 {
  font-size: 20px;
}

.link-web-col p {
  padding: 15px 0;
}

.bold {
  font-size: 15px;
  font-weight: 600;
}

/***** Section Sambutan ******/
section.sambutan {
  background-color: var(--white) !important;
}

.sambutan .gap-section {
  width: 80%;
}

.sambutan h3 {
  font-size: 16px;
}

.sambutan-col1 {
  border-radius: 10px;
  flex-basis: 30%;
  text-align: center;
}

.sambutan-col1 div {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 24px 0px;
  padding: 1rem;
}

.sambutan-col1 img {
  aspect-ratio: 3/4;
  width: 70%;
  border-radius: 12px;
}

.sambutan-col1 h3 {
  padding: 1rem;
}

.sambutan-col2 {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 24px 0px;
  margin-left: 3rem;
  flex-basis: 70%;
  text-align: left;
  padding: 2rem;
}

.sambutan-col2 p {
  margin-bottom: 5px;
}

/****** Section Call To Action *****/
.cta {
  width: 90%;
  margin: 4rem auto;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  margin-bottom: 40px;
  padding: 0;
  text-transform: uppercase;
  color: var(--white);
}

/******************/
/*     Footer     */
/******************/
footer {
  text-align: center;
  padding-top: 1rem;
  margin-top: 4rem;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--primary);
}

.social-media {
  padding: 1rem 0;
}

.social-media a {
  margin: 1rem;
  font-size: 1.3rem;
  color: var(--white);
}

.social-media .fa:hover {
  color: var(--red);
}

footer .links {
  margin-bottom: 2rem;
}

footer .links a {
  padding: 0.7rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
}

footer .links a:hover {
  text-decoration: underline;
}

footer .credit{
  background-color: #17223B;
}

footer .credit p {
  font-size: 0.7rem;
  margin-bottom: 0;
  color: var(--white);
}


/************************/
/*     Contact Page     */
/************************/
.location {
  background-color: var(--white) !important;
}

.location .gap-section {
  width: 70%;
}

.location iframe {
  width: 100%;
  height: 500px;
  border-radius: 2px;
}

.contact-us {
  background-color: var(--white) !important;
}

.contact-us .gap-section {
  width: 70%;
  padding-bottom: 0;
}

.contact-col {
  flex-basis: 45%;
  margin-bottom: 3rem;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px;
  border-bottom: 1.5px solid var(--gray);
}

.contact-col div .fa {
  font-size: 30px;
  margin: 10px;
  margin-right: 20px;
  color: var(--red);
}

.contact-col div p {
  padding: 0;
  color: var(--black);
}

.contact-col div h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  border-radius: 2px;
  border: 1.5px solid var(--gray);
}

.contact-col input:hover, .contact-col input:focus, .contact-col input:active,
.contact-col textarea:hover, .contact-col textarea:focus, .contact-col textarea:active {
  box-shadow: none;
  border: 1.5px solid var(--black);
}


/*****************************/
/*     Registration Page     */
/*****************************/
.bg-regis {
  background-color: var(--bg-white);
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;
  border-radius: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 0 3rem;
}

form h4 {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: var(--black);
}

label {
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
}

.form-control,
.form-select {
  font-size: 14px;
  border-radius: 2px;
  border: 1.5px solid var(--gray);
}

.form-control:hover, .form-control:focus, .form-control:active,
.form-select:hover, .form-select:focus, .form-select:active {
  box-shadow: none;
  border: 1.5px solid var(--black);
}

.line {
  width: 100%;
  height: 1px;
  margin: 4rem auto;
  background: var(--gray);
}

.line-title {
  width: 120px;
  height: 3px;
  margin: 2px auto 2.5rem;
  border-radius: 10px;
  background-color: var(--red);
}


/*************************/
/*     Media Queries     */
/*************************/
@media(max-width: 768px) {
  .text-box h1 {
    font-size: 25px;
  }

  .nav-links ul li {
    display: block;
    text-align: center;
  }

  .nav-links {
    position: fixed;
    background: rgb(37, 49, 109, 0.9);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links ul li:hover::after {
    width: 50%;
  }

  nav .fa {
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }

  .row-item {
    flex-direction: column;
  }

  .sub-header h1 {
    font-size: 24px;
  }
  
  .contact-col div h5 {
    font-size: 15px;
  }
  
  /* cta */
  .cta {
    width: 100%;
  }
  
  .cta h1 {
    font-size: 24px;
  }

  /* Section Videos */
  .videos iframe {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .gap-section {
    width: 90%;
    padding: 4rem 0 2rem;
  }

  /* Section Link Web */
  .link-web-col:nth-child(1),
  .link-web-col:nth-child(2) {
    margin-bottom: 2rem;
  }

  /* Section Sambutan */
  .sambutan-col1 img {
    width: 60%;
  }

  .sambutan-col2 {
    margin-left: 0;
    margin-top: 2rem;
    padding: 1rem;
  }

  .sambutan .gap-section {
    width: 95%;
  }

  /* contact */
  .location .gap-section,
  .contact-us .gap-section {
    width: 90%;
  }

  .location iframe {
    height: 300px;
  }

  /* registration */
  .card {
    width: 95%;
  }

  .card-body {
    padding: 0 2rem;
  }

}