.tb-title {
    text-transform: uppercase;
    color: #1E2F54;
}

.card-data {
    color: white;
    background-color: #809EE0;
    margin-bottom: 20px;
    border: none;
}

.pad-40 {
    padding: 40px;
}

.btn-a:active,
.btn-a:focus {
  outline: none;
  box-shadow: none;
}